<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing recipe ingredient</h1>

  <%= render "form", recipe_ingredient: @recipe_ingredient %>

  <%= link_to "Show this recipe ingredient", @recipe_ingredient, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to recipe ingredients", recipe_ingredients_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
