<div class="flex justify-between gap-4", id=<%= "unused_ingredient_#{ingredient.id}" %>>
    <p class="text-wrap break-normal overflow-hidden truncate"><%= ingredient.name %></p>
    <%= button_to recipe_ingredients_path(recipe_ingredient: {ingredient_id: ingredient.id, recipe_id:}) do %>
        <i class="fas fa-plus text-green-500"></i>
    <% end %>
</div>