<%= button_to recipe_ingredients_path(recipe_ingredient: {ingredient_id: ingredient.id, recipe_id:},
    id: "unused_ingrdient_#{ingredient.id}") do %>
    <div class="flex justify-between gap-4 border border-black rounded-xl p-2", id=<%= "unused_ingredient_#{ingredient.id}" %>>
        <p class="text-wrap break-normal overflow-hidden truncate"><%= ingredient.name %></p>
    </div>
<% end %>