<div class="h-8 w-full flex justify-between bg-blue-500 text-white text-2xl pl-4">
    <p class="pr-8">MenuMagic</p>
    <div class="flex justify-end pr-12 gap-4">
        <%= link_to "Recipes", recipes_path %>
        <%= link_to "Ingredients", ingredients_path %>
    </div>
</div>