<%= form_with(model: ingredient, class: "contents", data: { turbo: true }) do |form| %>
  <% form.hidden_field :recipe_id, value: recipe_id %>
  <div class="flex w-full">
    <% if ingredient.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(ingredient.errors.count, "error") %> prohibited this ingredient from being saved:</h2>

        <ul>
          <% ingredient.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="flex w-full gap-2">
      <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none w-full" %>
      <button type='submit'>
        <i class="fa-solid fa-plus text-green-500"></i>
      </button>
    </div>
  </div>
<% end %>