<div id="<%= dom_id ingredient %>">
  <p class="my-5">
    <%= ingredient.name %>
  </p>

  <% if action_name != "show" %>
    <div class="flex">
      <%= button_to ingredient_path(ingredient), method: :delete, class: "bg-red-400 rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" do %>
        Delete
        <i class="fa-outline fa-user"></i>
      <% end %>
      <%= link_to "Edit", edit_ingredient_path(ingredient), class: "bg-yellow-300 rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    </div>
  <% end %>
</div>
