<div class="w-full flex flex-col gap-4 items-center">
 <div class="text-4xl justify-center my-2">Your Ingredients</div>
  <div class="flex justify-between items-center">
    <%= render "form", ingredient: Ingredient.new %>
  </div>

  <div id="ingredients" class="min-w-full grid grid-cols-5 gap-2">
    <%= render @ingredients %>
  </div>
</div>
