<button data-controller="grocery-list-item" class="border border-black p-2 w-fit">
    <div data-grocery-list-item-target="container" class="flex items-center gap-5 w-full text-xl">
        <p><%= name %></p>
        <p><%= quantity %><%= unit %></p>
    </div>
</button>